# Dart / Flutter
.dart_tool/
.packages
build/
!/packages/request_scope/extension/devtools/build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
